Repository ONSdigital/ons-schema-definitions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ONSdigital/eq-runner, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management, @ONSdigital/sdx

Add additional deperecated fields
  docs/rm_to_eq_runner_payload_v1.md
  examples/rm_to_eq_runner/payload_v1/launch_jwt.json
  schemas/common/definitions.json
  schemas/launch_v1.json
Owners: @ONSdigital/eq-runner, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management

Temporarily add support for legacy feedback format
  docs/eq_runner_data_versions.md
  examples/eq_runner_to_downstream/payload_v1/feedback_0_0_1_legacy.json
  examples/eq_runner_to_downstream/payload_v1/feedback_0_0_3_legacy.json
  schemas/common/response_data.json
  schemas/submission_v1.json
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx

Revert PR test branch
  .github/workflows/pull_request.yml
Owners: none

change all example of questionnaire_id to qid
  docs/rm_to_eq_runner_payload_v2.md
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
  rfcs/0001-generic-launch-receipting-pattern.md
  schemas/common/survey_metadata.json
Owners: @ONSdigital/eq-runner, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management

questionnaire_id to qid
  docs/electronic_questionnaire_runner_to_downstream.md
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  rfcs/0001-generic-launch-receipting-pattern.md
  schemas/common/definitions.json
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx

formatting
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
  schemas/common/definitions.json
  schemas/common/survey_metadata.json
Owners: none

Update surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
Owners: none

Update surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
Owners: none

add "source" field to rm -> eq v2 payload doc
  docs/rm_to_eq_runner_payload_v2.md
Owners: @ONSdigital/eq-runner, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management

add "source" field "social" rm -> eq example
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
Owners: none

add "source" field to the common schema definition
  schemas/common/definitions.json
Owners: none

add "source" field to v2 launch and submission schemas
  schemas/launch_v2.json
  schemas/submission_v2.json
Owners: none

fix dodgy formatting in rm_to_eq_runner_payload_v2.md
  docs/rm_to_eq_runner_payload_v2.md
Owners: @ONSdigital/eq-runner, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management

change all example of questionnaire_id to qid (#71)
  docs/electronic_questionnaire_runner_to_downstream.md
  docs/rm_to_eq_runner_payload_v2.md
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
  rfcs/0001-generic-launch-receipting-pattern.md
  schemas/common/definitions.json
  schemas/common/survey_metadata.json
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx, @ONSdigital/sdc-rmras, @ONSdigital/census-response-management

Make "form_type" and "ru_ref" required fields for business metadata
  schemas/common/survey_metadata.json
Owners: none

Make "form_type" and "ru_ref" required fields for business metadata (#73)
  schemas/common/survey_metadata.json
Owners: none

Support for user-defined answer codes in data version 0.0.3
  docs/eq_runner_data_versions.md
  examples/eq_runner_to_downstream/payload_v1/surveyresponse_0_0_3_with_answer_codes.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3_with_answer_codes.json
  examples/eq_runner_to_downstream/payload_v2/business/surveyresponse_0_0_3_with_answer_codes.json
  schemas/common/response_data.json
  scripts/validate-schemas.js
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx

Add notice of exception
  docs/eq_runner_data_versions.md
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx

Support for user-defined answer codes in data version 0.0.3 (#74)
  docs/eq_runner_data_versions.md
  examples/eq_runner_to_downstream/payload_v1/surveyresponse_0_0_3_with_answer_codes.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3_with_answer_codes.json
  examples/eq_runner_to_downstream/payload_v2/business/surveyresponse_0_0_3_with_answer_codes.json
  schemas/common/response_data.json
  scripts/validate-schemas.js
Owners: @ONSdigital/eq-runner, @ONSdigital/sdx

add PHM survey metadata
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3_with_answer_codes.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
  schemas/common/definitions.json
  schemas/common/survey_metadata.json
Owners: none

fix formatting
  schemas/common/survey_metadata.json
Owners: none

add a value for PHM barcodes
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3_with_answer_codes.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
Owners: none

Update schemas/common/definitions.json
  schemas/common/definitions.json
Owners: none

remove PHM survey_metadata from "required" list
  schemas/common/survey_metadata.json
Owners: none

fix formatting
  schemas/common/survey_metadata.json
Owners: none

add PHM survey metadata (#76)
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/feedback_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_3_with_answer_codes.json
  examples/rm_to_eq_runner/payload_v2/launch_jwt_social.json
  schemas/common/definitions.json
  schemas/common/survey_metadata.json
Owners: none

Update regex for q_codes to match answer codes
  examples/eq_runner_to_downstream/payload_v1/surveyresponse_0_0_1.json
  examples/eq_runner_to_downstream/payload_v2/adhoc/surveyresponse_0_0_1.json
  schemas/common/response_data.json
Owners: none

.github/CODEOWNERS:

docs/jwt_profile.md @ONSdigital/eq-runner @ONSdigital/sdc-rmras @ONSdigital/census-response-management

docs/respondent_management_to_electronic_questionnaire_runner.md @ONSdigital/eq-runner @ONSdigital/sdc-rmras @ONSdigital/census-response-management
docs/rm_to_eq_runner_payload_v1.md @ONSdigital/eq-runner @ONSdigital/sdc-rmras @ONSdigital/census-response-management
docs/rm_to_eq_runner_payload_v2.md @ONSdigital/eq-runner @ONSdigital/sdc-rmras @ONSdigital/census-response-management

docs/electronic_questionnaire_runner_to_downstream.md @ONSdigital/eq-runner @ONSdigital/sdx
docs/eq_runner_to_downstream_payload_v1.md @ONSdigital/eq-runner @ONSdigital/sdx
docs/eq_runner_to_downstream_payload_v2.md @ONSdigital/eq-runner @ONSdigital/sdx
docs/eq_runner_data_versions.md @ONSdigital/eq-runner @ONSdigital/sdx

docs/survey_data_exchange_to_respondent_account_services.md @ONSdigital/sdx @ONSdigital/sdc-rmras
